.home {
  max-width: 800px;
  margin: 0px auto;
  padding: 15px 20px;
  text-align: center;
}

.home h1 {
  color:  white;
  font-size: 5rem;
  margin: 15px 0px 0px 0px;
}

.home p {
  color: #8e8e8e;
  font-size: 22px;
  margin: 20px;
}

.home ul {
  list-style-type: none;
  margin: 10px auto 30px auto;
  padding: 0px;
}

.home ul li {
  display: inline-block;
  margin: 0px 10px;
}

.home ul li a {
  color: white;
  font-size: 22px;
}

.home ul li a:hover {
  text-decoration: underline;
}

.feature {
  padding-top: 40px;
  text-align: center;
}

.feature > span {
  display: block;
  color: #8e8e8e;
  font-size: 18px;
  padding: 10px 0px;
}

.rune_link {
  display: inline-block;
  vertical-align: top;
  margin: 15px;
  color: white;
}

.rune_link:hover {
  opacity: 0.8;
}

.rune_attributes {
  background-color: black;
  width: 400px;
  height: 400px;
  position: relative;
}

 .rune_attributes > span {
  position: absolute;
  right: 10px;
  top: 10px;
}

.rune_attributes ul {
  list-style-type: none;
  margin: 0px;
  padding: 20px;
  text-align: left;
}

.rune_attributes ul li {
  margin: 5px 0px;
}

.rune_attributes ul li span {
  font-size: 20px;
}

table {
  margin-left: auto;
  margin-right: auto;
}
table th {
  color: white;
  font-size: 20px;
}
table td {
  color: white;
  font-size: 20px;
}